@import url(http://fonts.googleapis.com/css?family=Loved+by+the+King);

body{
font-family: 'Loved by the King', cursive;
overflow: hidden;
}

p.speech
{
    font-size: 20px;
	position: relative;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 50px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 50px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

#title
{
	position: absolute;
	top:0px;
	right: 40px;
	z-index:2;
}

#canvas_background
{
	position:absolute;
	width:1200px;
	height:600px;
	top:0px;
	left:0px;
	z-index:0
}

#messages
{
	position:absolute;
	top:100px;
	left:1240px
}

#options
{
	position:absolute;
	top:700px;
	left:20px;
}

#inventory
{
	position:absolute;
	top:20px;
	left:20px;
	z-index: 2;
}